div#head
{
	position: relative;
	margin: auto;
	width: 780px;
}

div#header
{
	height: 130px;
	width: 780px;
	background-color: #ffe4e1;
	color: #dc143c;
	font-family: Arial;
}

div#main
{
	margin: auto;
	width: 780px;
}

div#maintext
{
	background: #fff0f5;
	width: 780px;
	height: 1000px;
}

#maintable
{
	position: absolute;
	width: 780px;
	table-layout: fixed;
	border-collapse: collapse;
}

#maintable td, #maintable th
{
	font-size: 1em;
	border: 1px solid magenta;
	background-color: pink;
	font-family: Comic Sans MS;
	color: purple;
}

div#footer
{
	background: #ffe4e1;
	color: #dc143c;
	text-align: right;
}

#diarytable
{
	width: 700px;
	position: relative;
	top: 60px;
	left: 10px;
	table-layout: fixed;
	border-collapse: collapse;
}

#diarytable td, #diarytable th
{
	border: 1px solid #fff0f5;
	font-size: 1em;
	text-align: left;
	font-family: Times New Roman;
}

#diarytable th
{
	font-size: 1em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 2px;
	background-color: #ff1493;
	color: white;
}

#diarytable tr.alt td
{
	color: white;
	background-color: pink;
}

a.diary:link {color: white;}
a.diary:visited {color: purple;}
a.diary:hover {color: yellow;}

h2.diarytitle
{
	font-family: Times New Roman;
	text-align: center;
	text-decoration: bold;
}

p.diarycontent
{
	font-family: Bradley Hand ITC;
	color: #f08080;
	padding-left: 50px;
	padding-right: 50px;
}

h1.shoutout
{
	font-family: Comic Sans MS;
	color: red;
	text-align: center;
}

a.diaryback:link {color: black;}
a.diaryback:visited {color: purple;}
a.diaryback:hover {color: yellow;}

p.classgallery
{
	font-size: 20px;
	font-family: Times New Roman;
	color: black;
}

div#but1
{
	padding-left: 120px;
	float: left;
}

div#but2
{
	padding-left: 10px;
	float: left;
}

div#but3
{
	padding-left: 10px;
	float: left;
}

div#but4
{
	padding-left: 10px;
	float: left;
}

div#but5
{
	padding-left: 10px;
	float: left;
}

div#butfinal
{
	padding: 10px;
	margin-top: 10px;
	width: 100px;
}

img.aboutme
{
	float: left;
	position: relative;
	top: 70px;
	left: 25px;
	width: 200px;
	height: 300px;
}

#aboutmetable
{
	width: 500px;
	position: relative;
	top: 60px;
	left: 10px;
	table-layout: fixed;
	border-collapse: collapse;
	float: center;
}

#aboutmetable td, #aboutmetable th
{
	font-size: 1em;
	border: 1px solid black;
	padding-top:5px;
	padding-bottom:4px;
	padding-left: 2px;
	text-align: left;
	font-family: Times New Roman;
	color: Black;
}

p.info
{
	color: black;
	font-family: Times New Roman;
	position: relative;
	top: 50px;
	left : 10px;
}

p.me
{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
	font-family: Times New Roman;
	position: relative;
	top: 100px;
}