body
{
	font: 12px Calibri;
	color: black;
	text-align: center;
	padding: 35px;
}

form, p, span
{
	margin: 0;
	padding: 0;
}

input
{
	font: 12px Times New Roman;
}

a
{
	color: black;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
	color: yellow;
}

#container
{
	margin: 0 auto;
	padding-bottom: 25px;
	background: pink;
	width: 500px;
	border: 1px solid #ACDF0;
	-webkit-border-radius: 5%;
	-moz-border-radius: 5%;
	border-radius: 5%;
	-webkit-box-shadow: 0 5px 25px #666;
	-moz-box-shadow: 0 5px 25px #666;
	box-shadow: 0 5px 25px #666;
}

#chatbox
{
	text-align: left;
	margin: 0 auto;
	margin-bottom: 25px;
	padding: 10px;
	background: white;
	height: 270px;
	width: 430px;
	border: 1px solid #ACD8F0;
	overflow: auto;
}

#menu
{
	padding: 12.5px 25px 12.5px 25px;
}

#messageInput
{
	width: 75%;
	padding: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#submitMessage
{
	padding: 10px;
}

#input-group
{
	display: none;
}

.loggedin
{
	float: left;
	margin-right: 10px;
}

.logout
{
	float: right;
}