body
{
	font-family: "Comic Sans MS";
}

.container
{
	width: 700px;
	height: 700px;
	background-color: #FFC0CB;
	margin: 0 auto;
	position: relative;
	border-radius: 6px;
	box-shadow: 5px 5px 2px #c1c1c1;
}

.title
{
	margin-top: 70px;
	width: 600px;
	height: auto;
}

.button-container
{
	position: relative;
	top: 50px;
	width: 240px;
	height: 300px;
}

.button
{
	width: 200px;
	height: 50px;
	border-radius: 15px;
	cursor: pointer;
	line-height: 50px;
	margin: 20px;
	font-size: 18px;
	color: white;
}

.button:hover
{
	opacity: 0.5;
}

.button:active
{
	opacity: 1;
}

.game-mode
{
	position: relative;
	top: -150px;
	left: 50px;
	width: 400px;
	height: 50px;
	text-align: center;
	color: #666;
}

.game-mode-button
{
	float: left;
	position: relative;
	height: 50px;
	width: 90px;
	margin-left: 10px;
	line-height: 40px;
	background: white;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #C1C1C1;
}

.pink
{
	background: #FF69B4;
	box-shadow: 2px 2px 2px #FFF0F5;
}